

data send to next page:
<form action="/new1" method="post">
<input type="text" name="name" required>

<td th:text="${name}"></td>


	@PostMapping("/new1")
	public String hy1(@RequestParam String name,@RequestParam String email,Model model ) {
 

    // send data to next page
    model.addAttribute("name", name);
    model.addAttribute("email", email);

    return "new";
		
	}


	Database connection:
	Controller.java
	@Autowired
	private New_repo newrepo;
	
	@GetMapping("/")	
	public String hy() {
		return "index";
	}
	
	@PostMapping("/new1")
	public String hy1(@RequestParam String name,@RequestParam String email,Model model ) {
		
	new_model newmodel=new new_model();
	
	newmodel.setName(name);
	newmodel.setEmail(email);
	newrepo.save(newmodel);
	
 
	List<new_model> users=newrepo.findAll();
    // send data to next page
    model.addAttribute("users", users);
    

    return "new";
		
	}


User.java(model):

@Entity
@Table(name = "puthusu")
public class new_model {

	@Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;

    private String name;
    private String email;
		
REPO.java:
public interface New_repo extends JpaRepository<new_model,Long> {

}	

new.html:
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.email}"></td>
    </tr>	
